{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <h1>Edit Game</h1>




{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

  <div class="form-group">
    {{ form_row(form.name, {'attr': {'required': true}}) }}
  </div>
  <div class="form-group">
    {{ form_row(form.description) }}
  </div>
  <div class="form-group">
    {{ form_row(form.gameFilename, {'attr': {'required': false}}) }}
  </div>

  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-dark'}}) }}


  {{ form_rest(form) }}

{{ form_end(form) }}    



    <a href="{{ path('game_index') }}">back to list</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
