{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}

{# if not admin, don't show #}
{% if (not is_granted('ROLE_ADMIN')) %}
Unauthorized
{% else %} {# if not admin, don't show #}


    <h1>Create new Player</h1>

{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

  <div class="form-group">
    {{ form_row(form.username, {'attr': {'required': true}}) }}
  </div>
  <div class="form-group">
    {{ form_row(form.roles) }}
  </div>
  <div class="form-group">
    {{ form_row(form.password) }}
  </div>
  <div class="form-group">
    {{ form_row(form.email) }}
  </div>
  <div class="form-group">
    {{ form_row(form.serversAdmin) }}
  </div>

  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-dark'}}) }}


  {{ form_rest(form) }}

{{ form_end(form) }}    




    <a href="{{ path('user_index') }}">back to list</a>

{% endif %} {# if not admin, don't show #}    
{% endblock %}
